<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('lib/bootstrap-tag-input/tagsinput.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <script type="text/javascript" src="{{ asset('lib/jquery/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('lib/bootstrap-tag-input/tagsinput.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
