{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
            <div class="col-4 justify-content-left header-button">
                <button class="btn btn-primary"
                        onclick="location.href='{{ path('product-list') }}';"
                >{{ 'ritorna al listato prodotti' | upper }}</button>
            </div>
            <div class="col-12">
                <form   name="product-{{ action }}-form" 
                        id="product-{{ action }}-form" 
                        action="{{ path('product-form-submit', {'action': action }) }}"
                        method="POST"
                        enctype="multipart/form-data"
                >
                    <div class="form-group">
                        <label for="productName">Nome</label>
                        <div id="name-error-msg" class="alert alert-danger" role="alert">
                            <strong>Attenzione!</strong> Il nome è richiesto nella creazione di un prodotto.
                        </div>
                        <input  name="name" 
                                type="text" 
                                class="form-control" 
                                id="productName"
                                placeholder="{{product.name ?? 'Nome prodotto...'}}"
                                value="{{product.name}}"
                                required
                        >
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Descrizione</label>
                        <textarea   name="description" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="{{product.description ?? 'Descrizione...'}}"
                        >{{product.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="productTags">Tags</label>
                        <div id="tag-error-msg" class="alert alert-danger" role="alert">
                            <strong>Attenzione!</strong> Almeno un tag è richiesto nella creazione di un prodotto.
                        </div>
                        <input  name="tags" 
                                class="form-control" 
                                id="productTags"
                                value="{{ tags ?? '' }}"
                                type="text"
                                required
                        >
                         <small id="tagHelp" class="form-text text-muted">Premere il tasto ENTER per inserire un tag.</small>
                    </div>
                    <div class="form-group">
                        <label for="productImage">Immagine</label>
                        <input  name="image" 
                                type="file" 
                                class="form-control" 
                                placeholder="{{product.image ?? 'Immagine...'}}"
                        >
                    </div>
                    {% if action == "update" %}
                        <input type="hidden" name="productID" value="{{ product.getID() }}">
                    {% endif %}
                    <button type="submit" id="submit-btn" class="btn btn-primary">{{submitLabel | upper}}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}