{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
            <div class="col-4 justify-content-left add-product-button">
                <button class="btn btn-primary"
                        onclick="location.href='{{ path('product-list') }}';"
                >{{ 'ritorna al listato prodotti' | upper }}</button>
            </div>
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label for="productName">Name</label>
                        <input  name="productName" 
                                type="text" 
                                class="form-control" 
                                placeholder="{{product.name ?? 'Product name...'}}"
                                value="{{product.name}}"
                        >
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Description</label>
                        <textarea  name="productDescription" 
                                type="text" 
                                class="form-control" 
                                placeholder="{{product.description ?? 'Description...'}}"
                        >{{product.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="productTags">Tags</label>
                        <input  name="productTags" 
                                type="text" 
                                class="form-control" 
                                value="{{product.name}}"
                                data-role="tagsinput"
                                required
                        >
                    </div>
                    <div class="form-group">
                        <label for="productImage">Image</label>
                        <input  name="productImage" 
                                type="file" 
                                class="form-control" 
                                placeholder="{{product.image ?? 'Image...'}}"
                        >
                    </div>
                    <button type="submit" class="btn btn-primary">{{action | upper}}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}