{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="row header-button justify-content-between">
            <div class="col-4">
                <button class="btn btn-success"
                        onclick="location.href='{{ path('product-create') }}';"
                >{{ 'aggiungi prodotto' | upper }}</button>
            </div>
            <div id="search-tags" class="col-4">
                <input type="text" id="search-input" class="form-control" name="search" placeholder="Ricerca per tag..">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Descrizione</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Immagine</th>
                            <th scope="col">Data di creazione</th>
                            <th scope="col">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if products | length > 0 %}
                            {% for product in products %}
                                <tr id="product-{{product.getID()}}-row" class="product-row">
                                    <th scope="row">{{product.getID()}}</th>
                                    <td>{{product.getName()}}</td>
                                    <td>{{product.getDescription()}}</td>
                                    <td>
                                        {% for tag in product.getTags() %}
                                            <span class="badge badge-info">{{tag}}</span>
                                        {% endfor %}
                                    </td>
                                    <td><img class="img-fluid product-thumbnail" src="{{asset(product.getImagePath())}}" /></td>
                                    <td>{{product.getCreationDate() | date('d-m-Y H:i:s') }}</td>
                                    <td>
                                        <button class="btn btn-primary"
                                                onclick="location.href='{{ path('product-edit', {'id': product.id }) }}';"
                                        >EDIT</button>
                                        <button class="btn btn-danger" 
                                                onclick="location.href='{{ path('product-delete', {'id': product.id }) }}';"
                                        >DELETE</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Nessun prodotto registrato al momento!</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var productTagsdata = "{{productTags}}";
        var productTags = JSON.parse(productTagsdata.replace(/&quot;/g,'"'));;
        $("#search-input").keyup(function(e){
            var searchString = $("#search-input").val();
            var searchRegExp = new RegExp(searchString, 'g');
            var searchMatches = [];
            //search every tag associated to a product
            for(product in productTags) {
                for(tag in productTags[product]) {
                    //if there's a match save the product id to later show that row
                    if(productTags[product][tag].toString().match(searchRegExp)) {
                        searchMatches.push(product);
                    }
                }
            }
            //hide every row
            $(".product-row").hide();

            for(match in searchMatches) {
                //only show rows which match the search string
                $("#product-" + searchMatches[match] + "-row").show();
            }
        });
    </script>
{% endblock %}

